$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
$FontAwesomePath: "../styles/fonts";

//@import 'sass-bootstrap/lib/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import 'bar/bar';
@import 'base/base';
@import 'button/button';
@import 'chevron/chevron';
@import 'form/form';
@import 'list/list';
@import 'modal/modal';
@import 'popover/popover';
@import 'segmented/segmented';
@import 'slider/slider';
@import 'toggle/toggle';

.home{
  a{
    i{
      font-size: 48px;
      display: block;
      margin-bottom: 10px;
    }
    span{
        color: #999;
    }
    &:active{
      color: #f60;
      i{
        color: #f60;
      }
    }
  }
}
.bar-tab{
  a{
    color: #eee;
  }
  li.active a{
    color: #f90;
  }
}
/*slider*/
.slider {
  position: relative;
}
.slider .slide-text {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  text-shadow: 0 0 10px rgba(0,0,0,.5);
}
.slider, .slider li, .slider li img {
width: 100%;
}